*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Playfair Display;
}
body{
    background-color: #FFF8F0;
}
header{
    display: flex;
    color: #E76F51;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    background-color: #FFFFFFF2 ;
}
nav a{
    padding: 0px 20px;
    color: black;
    text-decoration: none;
}
button{
    background-color: #E76F51;
    color: white;
    border: 0px solid;
    padding: 10px 20px;
    border-radius: 50px;
}
/* ============================== */
.intro{
    display: flex;
    flex-direction: column;
    background-image: url(361bd1d27b5653a70677cfbf87b482bf1029e145.png);
    height: 700px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: lighter;
}
h1{
    font-size: 38.5px;
}
.intro div{
    width: 370px;
}
.intro p{
    padding: 20px 0px;
    line-height: 25px;
    opacity: 80%;
}
/* ================================ */
img{
    height: 50%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.HOT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.HOT h2{
    color: #E76F51;
    font-size: 35px;
    margin-top: 5px;
}
.box{
    display: flex;
    gap: 25px;
}
.box div{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 220px;
    height: 300px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(74, 74, 74, 0.123);
}
.box1{
    padding: 10px 0px 0px 20px;
}
.box1 h3:nth-child(2){
    color: #E76F51;
}
.box1 p{
    color: #666666;
    opacity: 80%;
}
/* ==================================== */
.Menu h2{
    color: #E76F51;
    font-size: 35px;
    margin-top: 80px;
}
.Menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    gap: 20px;
    justify-content: center;
}
.box2 div{
    display: flex;
    width: 200px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgba(74, 74, 74, 0.123);
}
.box2 div p:nth-child(2){
    color: #E76F51;
}
/* ================================== */
footer{
    display: flex;
    background-color: #3C2F2F;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eeeeee88;
}
.box3{
    display: flex;
    justify-content: center;
    gap: 230px;
    border-bottom: 1px solid;
}
.box3 h2{
    color: #E76F51;
    padding-top: 50px;
}
ul{
    list-style: none;
    margin: 30px 0px 40px;
    line-height: 30px;
}
.claim{
    margin: 30px 0px 0px;
}